<%= render "shared/fb_like_box" %>

<div class="similar-article">
  <h3><b><%= t "labels.similar_articles" %></b></h3>
  <%= render partial: "small_right_article", collection: @articles, as: :article %>
  <h4><%= link_to t("buttons.more"), category_path(@category_id),
    class: "btn btn-default btn-more" %></h4>
</div>

<%= image_tag "companies/prathna.jpg", class: "img-responsive" %>
